<div class="container" [ngClass]="statusClass()">
  <div class="weather">
    <div class="date">{{data.date | date}}</div>
    <div class="status-degree">
      <div class="status">{{data.status.emoji}} {{data.status.statusText}}</div>
      <div class="degree">{{data.degree}}°</div>
    </div>
    <div class="location"><mat-icon>location_on</mat-icon>{{data.location}}</div>
  </div>
  <div class="action-buttons">
    <button mat-icon-button color="primary" (click)="update.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="delete.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
